* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    color: #FFF;
    height: 100vh;
    overflow: hidden;
    text-align: center;
}

a {
    color: #FFF;
    text-decoration: none;
}

.screen {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    background: linear-gradient(90deg, #29323C 0%, #485563 100%);
    transition: margin 0.5s ease-out;
}

a:hover {
    color: #16D9E3;
}

h1 {
    font-size: 4rem;
    line-height: 1.4;
}

.start {
    font-size: 1.5rem
}

.up {
    margin-top: -100vh;
}

.time-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
    margin-top: 80px;
}

.time-list li {
    margin: 10px;
}

.time-btn {
    background-color: transparent;
    border: 2px solid #C0C0C0;
    color: #FFF;
    cursor: pointer;
    padding: .5rem 1rem;
    font-size: 1.5rem;
}

.time-btn:hover {
    border: 2px solid #16D9E3;
    color: #16D9E3;
}

.board{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 500px;
    background: linear-gradient(118.38deg, #29323C -4.6%, #485564 200.44%);
    box-shadow: -8px -8px 20px #2A333D, 10px 7px 20px #475462;
    border-radius: 30px;
    overflow: hidden;
}

.circle{
    background: linear-gradient(90deg, #16D9E3 0%, #30C7EC 47%);
    cursor: pointer;
    border-radius: 50%;
}